

/*-----------------------------------------------------------------------*/
/* BASIC SETUP */
/*-----------------------------------------------------------------------*/

html, body {
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size:  20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*----------------
REUSABLE COMPONENTS
-------------------*/

/* HEADINGS
--------------------- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1, h2 {
    color: #dafbd3;
    word-spacing: 4px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    letter-spacing: 1px;

}

h2 {
    font-size: 180%;
    text-align: center;
    word-spacing: 2px;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
h3 {
    font-size: 110%;
    word-spacing: 2px;
    margin-bottom: 15px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
/* Links
--------------------- */


/* Buttons
--------------------- */

.btn:visited,
.btn:link,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    border: 1px solid #e67e22;
    transition: background 0.3s, border 0.3s, color 0.3s;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}
.btn-full:visited,
.btn-full:link,
input[type=submit] {
    background-color: #e33;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{

    background-color: #cf6d17;
}
.btn-ghost:visited,
.btn-ghost:link {
    background-color: #e33;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color:#fff;
    background-color: #cf6d17;
}

/* Paragraphs
----------------------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

/* Header
----------------------*/

header {
    height: 100vh;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/chicken.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/chicken.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.logo img{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
/*Mobile nav */
.mob-nav{
    color: #fff;
    cursor: pointer;
    padding: 8px;
    border:1px solid rgba(255,255,255,.1);
    border-radius: 5px;
    margin-top: 40px;
    font-size: 150%;
    margin-left: 10px;
    display: inline-block;
    float: right;
}

/*Main nav */
nav ul {
    float: right;
    margin-top: 30px;
}

nav ul > li > a:link,
nav ul > li > a:visited {
    color: #fff !important;
    text-transform: uppercase;
    margin: 0 8px;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

nav ul > li > a:hover,
nav ul > li > a:active {
    border-bottom: 2px solid #E67E22;
}

.hero-text-box {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1140px;
}
/*STICKY MENU */
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.logo-black img {
    display:none;
    height: 40px;
    width: auto;
    float: left;
    margin: 5px 0px 3px 100px;

}
.ion-navicon-round {
    color: #888a8c;
}


/*Sticky nav */
.sticky .logo-black img{
    display: block;
}

.sticky .logo {
    display: none;
}
.sticky {
    border-radius: 0px;
    padding: 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba( 250, 250, 250, 0.98 );
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}
.sticky ul {
    margin-top: 12px;
    margin-right: 75px;
}
.sticky #toggler {
    color: #E67E22;
}
.sticky .mob-nav{
    margin-top: 5px;
    margin-left: 5px;


}
.sticky .nav-link:link,
.sticky .nav-link:visited {
    padding: 5px 0 18px 0px;
    color:#555 !important;
    font-size: 80%;
    font-weight: 400;
}

/* Features
---------------------------------*/

#features {
        padding-top: 75px;
    }
#features h1 , h2 {
    margin-bottom: 25px;
}
#features p {
    text-align: center;
    font-size: 90%;
    line-height: 145%;
}
#features i {
    font-size: 250% !important;
    margin: 30%;
    color: #E67E22;
}
/* Meals
---------------------------------*/
#meals {
    margin-top: 75px;
}
#meals .row > .col-sm-3 {
    padding: 0px;
    overflow: hidden;
    background-color: #000;
}
#meals img {
    opacity: 0.5;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
#meals img:hover {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}
/* How
---------------------------------*/
#how {
    padding: 50px 0px;
    background-color: #F4F4F4;
}
#how ul {
    margin-top: 70px;
    text-align: left;
    padding-left: 3%;
}

#how ul > li {
    margin-bottom: 25px;
    clear: both;
}
#how ul > li:last-of-type {
    margin-bottom: 80px;
}
#how ul > li div {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border: 2px solid #E67E22;
    color: #E67E22;
    font-size: 150%;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    margin-bottom: 30px;

}
#how ul > li p {
    position: relative;
    top:3px;
}
.download-btn img {
    width: auto;
    margin-right: 10px;
    margin-left: 15px;
    height: 60px;
}


/*cities
--------------------------------------*/
#cities {
    padding-top: 7%;
    padding-bottom: 3%;
}

#cities h3 {
    margin-top: 15px;
    font-size: 120%;
    text-transform: uppercase;;
}
#cities ul > li {
    clear: both;
}

#cities ul > li > i  {
    font-size:130%;
    display: inline-block;
    text-align: center;
    vertical-align:middle;
    margin-right: 10px;
    margin-top: -5px;
    color: #E67E22;
    float: left;
}
#cities a:link,
#cities a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.3s, color 0.3s;
}

#cities a:hover,
#cities a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*testemonials
--------------------------------------*/
#testemonials {
  padding-top: 5%;
  color: #fff;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/back-customers.webp);
  background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/back-customers.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    left: -5px;
    top: -5px;
}
blockquote{
    padding: 2%;
    position: relative;
    font-style: italic;
    line-height: 145%;
}
cite {
 font-size: 90%;
 display: block;
}
cite img {
    height:50px !important;
    margin-right: 10px;
    vertical-align: middle;
}



/*Pricing
--------------------------------------*/
#pricing {
    clear: both;
    color: #717171;
    padding: 50px 0px;
    background-color: #F4F4F4;
}

.plan-box {
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 4%;
    width: 90%;
    border-radius: 3px;
    padding: 0px;
    -webkit-box-shadow: 2px 2px 11px -1px rgba(198, 198, 198, 0.5);
    -moz-box-shadow: 2px 2px 11px -1px rgba(198, 198, 198, 0.5);
    box-shadow: 2px 2px 11px -1px rgba(198, 198, 198, 0.5);
}

.price-heading {
    padding: 10px;
    background-color: #EFEFEF;
    border-bottom: 1px solid #D2D2D2;
}
.price-heading
.price {
    font-weight: 100;
    color: #E67E22;
    font-size: 300%;
}
.price span {
    font-weight: 300;
    font-size: 40%;
}
.tiny {
    margin: 0px;
}
.perks {
    padding: 10px;
    border-bottom: 1px solid #D2D2D2;
}
#pricing ul > li {
    clear: both;
}

#pricing ul > li > i  {
    margin-right: 10px;
    color: #E67E22;
    float: left;
}
.plan-box div:last-child {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

}

/*Contact
--------------------------------------*/
#contact {
    padding: 70px 0px 50px 120px;
    font-size: 120%;
}

#contact .custom-checkbox {
    margin-top: 8px;
}
#contact .custom-checkbox

 textarea{
    resize:none;
}


/*Footer
--------------------------------------*/
footer {
    padding-top: 20px;
    background-color: #333333;
    color: #888888;
}

footer ul >li > a {
    color: #888888;
    font-size: 80%;
    text-align: center;
}

footer .social {
    float: right;
}

footer i {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-align: center;
    padding-right: 5px;
    font-size: 180%;
    color: #888888;
}
footer p {
    font-size: 80%;
}

footer a > .ion-social-facebook:hover {
    color: #3b5998;
}
footer a > .ion-social-twitter:hover {
    color: #55acee;
}
footer a > .ion-social-googleplus:hover {
    color: #dd4b39;
}
footer a > .ion-social-instagram:hover {
    color: #e95950;
}
footer a > .ion-social-linkedin:hover {
    color: #007bb5;
}


/*Animations
--------------------------------------*/

.wp1,.wp2,
.wp3,.wp4 {
    opacity: 0;
}
.wp1.animated,.wp2.animated,
.wp3.animated,.wp4.animated {
    opacity: 1;
}

#nh {
    color: black;
}
.opnhr {
    margin-top: 45px;
}
.email {
    margin-top: 45px;
}
.call {
    margin-top: 45px;
}


